[Desktop Entry]
Name=zNotes
GenericName=Simple Notes
GenericName[ru]=Простые заметки
GenericName[sk]=Jednoduché poznámky
Type=Application
Comment=Lightweigh crossplatform application for notes management
Comment[ru]=Лёгкая кроссплатформенная утилита для управлению заметками
Comment[sk]=Jednoduchý správca poznámok
Exec=znotes
TryExec=znotes
Icon=znotes
Categories=Utility;TextEditor;Qt;
